@using MongoDB_RestaurantProject.DataTransferObject.BlogDTOs
@model List<ResultBlogDTO>
<div class="blog-area home-blog default-padding bottom-less">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="site-heading text-center">
                    <h4 class="sub-title">Haberler ve Blog</h4>
                    <h2 class="title split-text">En Son Haberler ve Blog Yazılarımız</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach(var item in Model)
            {
                <div class="col-xl-4 col-md-6 mb-30">
                    <div class="home-blog-style-one-item wow fadeInUp">
                        <div class="thumb" style="width:100%; height:250px; overflow:hidden;">
                            <img src="@item.ImageUrl"
                                 alt="Image not Found"
                                 style="width:100%; height:100%; object-fit:cover;">
                            <ul class="blog-meta">
                                <li>
                                    <a href="#">@item.CreatedAt.ToString("dd MMMM yyyy")</a>
                                </li>
                            </ul>
                        </div>

                        <div class="content">
                            <div class="info">
                                <h4 class="post-title">
                                    <a href="/Blog/BlogDetails/@item.Id">@item.Title</a>
                                </h4>
                                <ul class="meta-tags">
                                    @foreach(var tags in item.Tags)
                                    {
                                        <li>@tags</li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>