@using MongoDB_RestaurantProject.DataTransferObject.ReservationDTOs
@model CreateReservationDTO
@{
    ViewData["Title"] = "CreateReservation";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>CreateReservation</h1>

