
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" class="light">
    @await Component.InvokeAsync("_AdminLayoutHeadComponentPartial")
<body class="bg-background-light dark:bg-background-dark font-sans text-gray-800 dark:text-gray-200 h-screen overflow-hidden flex transition-colors duration-300">
    @await Component.InvokeAsync("_AdminLayoutSidebarComponentPartial")
    <main class="flex-1 flex flex-col h-full overflow-hidden relative">
        @await Component.InvokeAsync("_AdminLayoutHeaderComponentPartial")
      @RenderBody()
    </main>
    @await Component.InvokeAsync("_AdminLayoutScriptComponentPartial")
</body>
</html>