@using MongoDB_RestaurantProject.DataTransferObject.FeedbackDTOs
@model List<ResultFeedbackDTO>
<div class="testimonial-style-one-area default-padding bg-gray bg-cover text-center" style="background-image: url(/source/assets/img/shape/4.jpg);">
    <div class="wavesshape">
        <img class="regular-img" src="/source/assets/img/shape/16.png" alt="Shape">
        <img class="dark-img" src="/source/assets/img/shape/16-dark-secondary.png" alt="Shape">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="testimonial-style-one-carousel swiper">
                    <div class="swiper-wrapper">
                        @foreach(var item in Model)
                        {
                            <div class="swiper-slide">
                                <div class="testimonial-style-one">
                                    <div class="item">
                                        <div class="content">
                                            <div class="tm-review">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <div class="provider">
                                                <h4>@item.Title</h4>
                                            </div>
                                            <p>
                                                "@item.Description"
                                            </p>
                                            <div class="tm-proivder-thumb">
                                                <img src="@item.ImageUrl" alt="Image Not Found">
                                                <img src="@item.ImageUrl2" alt="Image Not Found">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                </div>
                <div class="testimonial-pagination">
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</div>