<div class="feature-style-two-area default-padding bg-dark text-light" style="background-image: url(/source/assets/img/shape/11.png);">
    <div class="light-banner-active bg-dark" style="background-image: url(/source/assets/img/shape/11-dark.png);"></div>
    <div class="shape">
        <img src="/source/assets/img/shape/10.png" alt="Görsel Bulunamadı">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-5 feature-product-item">
                <a class="wow fadeInUp" href="#" style="background-image: url(/source/assets/img/shape/7.jpg);">
                    <div class="info">
                        <h2>Meksika Pizzası</h2>
                        <span class="btn circle btn-md btn-light animation">Sipariş Ver</span>
                    </div>
                    <div class="thumb">
                        <img src="/source/assets/img/illustration/7.png" alt="Görsel Bulunamadı">
                        <div class="offer" style="background-image: url(/source/assets/img/shape/12.png);">%50 İndirim</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-7 feature-product-item">
                <a class="wow fadeInUp" data-wow-delay="200ms" href="#" style="background-image: url(/source/assets/img/shape/9.jpg);">
                    <div class="info">
                        <h2>Luger Burger</h2>
                        <span class="btn circle btn-md btn-theme animation">Sipariş Ver</span>
                    </div>
                    <div class="thumb">
                        <img src="/source/assets/img/illustration/6.png" alt="Görsel Bulunamadı">
                        <div class="offer" style="background-image: url(/source/assets/img/shape/12.png);">En İyi Fırsat</div>
                    </div>
                </a>
                <a class="wow fadeInUp" data-wow-delay="400ms" href="#" style="background-image: url(/source/assets/img/shape/8.jpg);">
                    <div class="info">
                        <h2>Leziz Yengeç</h2>
                        <span class="btn circle btn-md btn-dark animation">Sipariş Ver</span>
                    </div>
                    <div class="thumb">
                        <img src="/source/assets/img/illustration/9.png" alt="Görsel Bulunamadı">
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
