<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Foodu - Food & Restaurant HTML Template ">
    <title>Foodu - Food & Restaurant HTML Template </title>
    <link rel="shortcut icon" href="/source/assets/img/favicon.png" type="image/x-icon">
    <link href="/source/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/source/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="/source/assets/css/flaticon-set.css" rel="stylesheet">
    <link href="/source/assets/css/magnific-popup.css" rel="stylesheet">
    <link href="/source/assets/css/swiper-bundle.min.css" rel="stylesheet">
    <link href="/source/assets/css/animate.min.css" rel="stylesheet">
    <link href="/source/assets/css/bootstrap-datepicker3.css" rel="stylesheet">
    <link href="/source/assets/css/validnavs.css" rel="stylesheet">
    <link href="/source/assets/css/helper.css" rel="stylesheet">
    <link href="/source/assets/css/unit-test.css" rel="stylesheet">
    <link href="/source/assets/css/shop.css" rel="stylesheet">
    <link href="/source/assets/css/style.css" rel="stylesheet">
    <link href="/source/assets/style.css" rel="stylesheet">
</head>