@using MongoDB_RestaurantProject.DataTransferObject.LoginDTOs
@model LoginDTO
@{
    ViewData["Title"] = "Giriş Yap";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Agrica - Organik Çiftlik Tarım Şablonu">
    <title>Agrica - Organik Çiftlik Tarım Şablonu</title>
    <link rel="shortcut icon" href="/source/assets/img/favicon.png" type="image/x-icon">
    <link href="/source/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/source/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="/source/assets/css/magnific-popup.css" rel="stylesheet">
    <link href="/source/assets/css/flaticon-set.css" rel="stylesheet">
    <link href="/source/assets/css/swiper-bundle.min.css" rel="stylesheet">
    <link href="/source/assets/css/animate.min.css" rel="stylesheet">
    <link href="/source/assets/css/validnavs.css" rel="stylesheet">
    <link href="/source/assets/css/helper.css" rel="stylesheet">
    <link href="/source/assets/css/unit-test.css" rel="stylesheet">
    <link href="/source/assets/css/shop.css" rel="stylesheet">
    <link href="/source/assets/css/style.css" rel="stylesheet">
    <link href="/source/style.css" rel="stylesheet">
</head>

<body>

    <div class="radio-btn-light">
        <div class="radio-inner-light"></div>
    </div>

    <div id="preloader">
        <div id="agrica-preloader" class="agrica-preloader">
            <div class="animation-preloader">
                <div class="spinner"></div>
            </div>
            <div class="loader">
                <div class="row">
                    <div class="col-3 loader-section section-left">
                        <div class="bg"></div>
                    </div>
                    <div class="col-3 loader-section section-left">
                        <div class="bg"></div>
                    </div>
                    <div class="col-3 loader-section section-right">
                        <div class="bg"></div>
                    </div>
                    <div class="col-3 loader-section section-right">
                        <div class="bg"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="login-area">
        <div class="container">
            <div class="login-items">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="login-thumb">
                            <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/30/0c/36/d3/scappi.jpg" alt="Görsel Bulunamadı">
                            <div class="logo">
                                <a href="index.html"><img src="/source/assets/img/logo-light-2.png" alt="Görsel Bulunamadı"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="login-forms">
                            <h2>Tekrar Hoş Geldiniz</h2>
                            <p>
                                Devam etmek için e-posta ve şifrenizi giriniz.
                            </p>
                            <form asp-controller="Auth" asp-action="Login" method="post">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <input class="form-control" asp-for="Email" placeholder="E-posta*" type="email">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <input class="form-control" asp-for="Password" placeholder="Şifre*" type="password">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <button type="submit">
                                            Giriş Yap
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <div class="login-alternative">
                                <h4>Veya Şununla Giriş Yap</h4>
                                <ul>
                                    <li>
                                        <a href="#"><i class="fab fa-google"></i> Google</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fab fa-facebook-f"></i> Facebook</a>
                                    </li>
                                </ul>
                                <p>
                                    Hesabınız yok mu? <a href="register.html">Hemen Kayıt Ol</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/source/assets/js/jquery-3.6.0.min.js"></script>
    <script src="/source/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/source/assets/js/jquery.appear.js"></script>
    <script src="/source/assets/js/swiper-bundle.min.js"></script>
    <script src="/source/assets/js/progress-bar.min.js"></script>
    <script src="/source/assets/js/wow.min.js"></script>
    <script src="/source/assets/js/isotope.pkgd.min.js"></script>
    <script src="/source/assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="/source/assets/js/magnific-popup.min.js"></script>
    <script src="/source/assets/js/count-to.js"></script>
    <script src="/source/assets/js/jquery.nice-select.min.js"></script>
    <script src="/source/assets/js/YTPlayer.min.js"></script>
    <script src="/source/assets/js/loopcounter.js"></script>
    <script src="/source/assets/js/validnavs.js"></script>
    <script src="/source/assets/js/bootstrap-datepicker.js"></script>
    <script src="/source/assets/js/gsap.js"></script>
    <script src="/source/assets/js/ScrollTrigger.min.js"></script>
    <script src="/source/assets/js/SplitText.min.js"></script>
    <script src="/source/assets/js/main.js"></script>

</body>
</html>