<footer class="bg-dark footer-style-one text-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 footer-item mt-50">
                <div class="f-item about">
                    <img src="/source/assets/img/logo-3.png" alt="Görsel Bulunamadı">
                    <p>
                        Yemek cennetimizde eşsiz mutfak lezzetlerini, tarifleri ve ilhamı keşfedin.
                    </p>
                    <ul class="opening-list">
                        <li>
                            Pazartesi - Cuma <span class="text-end">08:00 - 18:00</span>
                        </li>
                        <li>
                            Cumartesi <span class="text-end">09:00 - 17:00</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 mt-50 footer-item pl-50 pl-md-15 pl-xs-15">
                <div class="f-item link">
                    <h4 class="widget-title">Keşfet</h4>
                    <ul>
                        <li>
                            <a href="about-us.html">Şirket Profili</a>
                        </li>
                        <li>
                            <a href="about-us.html">Hakkımızda</a>
                        </li>
                        <li>
                            <a href="contact-us.html">Yardım Merkezi</a>
                        </li>
                        <li>
                            <a href="contact-us.html">Kariyer</a>
                        </li>
                        <li>
                            <a href="about-us.html">Özellikler</a>
                        </li>
                        <li>
                            <a href="contact-us.html">İletişim</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 footer-item  mt-50">
                <div class="f-item contact">
                    <h4 class="widget-title">İletişim Bilgileri</h4>
                    <ul class="contact-widget">
                        <li>
                            <div class="icon">
                                <i class="fas fa-map-marker-alt"></i>
                            </div>
                            <div class="content">
                                175 10. Sokak, Ofis 375 Berlin, Almanya 21562
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <i class="fas fa-phone"></i>
                            </div>
                            <div class="content">
                                <a href="tel:2151234567">+123 34598768</a> <br> <a href="tel:2151234567">+554 34598734</a>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <i class="fas fa-envelope"></i>
                            </div>
                            <div class="content">
                                <a href="mailto:name@email.com">food@restan.com</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 footer-item mt-50">
                <div class="f-item newsletter">
                    <h4 class="widget-title">Bülten</h4>
                    <p>
                        En son haberleri ve özel fırsatları almak için abone listemize katılın.
                    </p>
                    <form action="/Newsletter/Subscribe" method="post">
                        <input type="email" placeholder="E-posta Adresiniz" class="form-control" name="Email">
                        <button type="submit"> Abone Ol <i class="fas fa-long-arrow-right"></i></button>
                    </form>
                    <div class="footer-socila-items mt-30">
                        <h4>Sosyal Medya: </h4>
                        <ul class="footer-social">
                            <li>
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="row align-center">
                <div class="col-lg-6">
                    <p>
                        © Telif Hakkı 2026 Foodu. Tüm Hakları Saklıdır.
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>