@using MongoDB_RestaurantProject.DataTransferObject.ProductDTOs
@model List<ResultProductDTO>

<div class="validtheme-shop-area default-padding text-center">
    <div class="shape-seperate">
        <img src="assets/img/shape/14.png" alt="Image Not Found">
        <img src="assets/img/shape/15.png" alt="Image Not Found">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="site-heading text-center">
                    <h4 class="sub-title">Best Deal</h4>
                    <h2 class="title split-text">Our Popular Dishes</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="vt-products columns-4">

                    <!-- Single product -->
                    <li class="product wow fadeInUp">
                        <div class="product-contents">
                            <div class="product-image">
                                <a href="shop-single.html">
                                    <img src="assets/img/shop/1.png" alt="Product">
                                </a>
                                <div class="shop-action">
                                    <ul>
                                        <li class="cart">
                                            <a href="#"><span>Add to Cart</span></a>
                                        </li>
                                        <li class="quick-view">
                                            <a href="#"><span>Quick view</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-caption">
                                <div class="product-tags">
                                    <a href="#">Cheese</a>
                                    <a href="#">Pizza</a>
                                </div>
                                <h4 class="product-title">
                                    <a href="shop-single.html">Margherita Pizza</a>
                                </h4>
                                <div class="price">
                                    <span>$12.00</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- Single product -->
                    <!-- Single product -->
                    <li class="product wow fadeInUp" data-wow-delay="200ms">
                        <div class="product-contents">
                            <div class="product-image">
                                <span class="onsale">Sale!</span>
                                <a href="shop-single.html">
                                    <img src="assets/img/shop/2.png" alt="Product">
                                </a>
                                <div class="shop-action">
                                    <ul>
                                        <li class="cart">
                                            <a href="#"><span>Add to Cart</span></a>
                                        </li>
                                        <li class="quick-view">
                                            <a href="#"><span>Quick view</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-caption">
                                <div class="product-tags">
                                    <a href="#">Creamy</a>
                                    <a href="#">Burger</a>
                                </div>
                                <h4 class="product-title">
                                    <a href="shop-single.html">Beef Burger</a>
                                </h4>
                                <div class="price">
                                    <span><del>$8.00</del></span>
                                    <span>$5.00</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- Single product -->
                    <!-- Single product -->
                    <li class="product wow fadeInUp" data-wow-delay="400ms">
                        <div class="product-contents">
                            <div class="product-image">
                                <a href="shop-single.html">
                                    <img src="assets/img/shop/3.png" alt="Product">
                                </a>
                                <div class="shop-action">
                                    <ul>
                                        <li class="cart">
                                            <a href="#"><span>Add to Cart</span></a>
                                        </li>
                                        <li class="quick-view">
                                            <a href="#"><span>Quick view</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-caption">
                                <div class="product-tags">
                                    <a href="#">Beef</a>
                                    <a href="#">Steak</a>
                                </div>
                                <h4 class="product-title">
                                    <a href="shop-single.html">Grilled Flank Steak</a>
                                </h4>
                                <div class="price">
                                    <span>$14.00</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- Single product -->
                    <!-- Single product -->
                    <li class="product wow fadeInUp" data-wow-delay="600ms">
                        <div class="product-contents">
                            <div class="product-image">
                                <a href="shop-single.html">
                                    <img src="assets/img/shop/5.png" alt="Product">
                                </a>
                                <div class="shop-action">
                                    <ul>
                                        <li class="cart">
                                            <a href="#"><span>Add to Cart</span></a>
                                        </li>
                                        <li class="quick-view">
                                            <a href="#"><span>Quick view</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-caption">
                                <div class="product-tags">
                                    <a href="#">BBQ</a>
                                    <a href="#">Meat</a>
                                </div>
                                <h4 class="product-title">
                                    <a href="shop-single.html">Barbecue Chicken</a>
                                </h4>
                                <div class="price">
                                    <span>$8.00</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- Single product -->
                    <!-- Single product -->
                    <li class="product wow fadeInUp">
                        <div class="product-contents">
                            <div class="product-image">
                                <a href="shop-single.html">
                                    <img src="assets/img/shop/8.png" alt="Product">
                                </a>
                                <div class="shop-action">
                                    <ul>
                                        <li class="cart">
                                            <a href="#"><span>Add to Cart</span></a>
                                        </li>
                                        <li class="quick-view">
                                            <a href="#"><span>Quick view</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-caption">
                                <div class="product-tags">
                                    <a href="#">Food</a>
                                    <a href="#">Roll</a>
                                </div>
                                <h4 class="product-title">
                                    <a href="shop-single.html">Vegetable Roll</a>
                                </h4>
                                <div class="price">
                                    <span>$25.00</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- Single product -->
                    <!-- Single product -->
                    <li class="product wow fadeInUp" data-wow-delay="200ms">
                        <div class="product-contents">
                            <div class="product-image">
                                <a href="shop-single.html">
                                    <img src="assets/img/shop/6.png" alt="Product">
                                </a>
                                <div class="shop-action">
                                    <ul>
                                        <li class="cart">
                                            <a href="#"><span>Add to Cart</span></a>
                                        </li>
                                        <li class="quick-view">
                                            <a href="#"><span>Quick view</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-caption">
                                <div class="product-tags">
                                    <a href="#">Pasta</a>
                                    <a href="#">Spicy</a>
                                </div>
                                <h4 class="product-title">
                                    <a href="shop-single.html">Creamy Pasta</a>
                                </h4>
                                <div class="price">
                                    <span><del>$18.00</del></span>
                                    <span>$13.00</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- Single product -->
                    <!-- Single product -->
                    <li class="product wow fadeInUp" data-wow-delay="400ms">
                        <div class="product-contents">
                            <div class="product-image">
                                <a href="shop-single.html">
                                    <img src="assets/img/shop/7.png" alt="Product">
                                </a>
                                <div class="shop-action">
                                    <ul>
                                        <li class="cart">
                                            <a href="#"><span>Add to Cart</span></a>
                                        </li>
                                        <li class="quick-view">
                                            <a href="#"><span>Quick view</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-caption">
                                <div class="product-tags">
                                    <a href="#">Meat</a>
                                    <a href="#">Shawarma</a>
                                </div>
                                <h4 class="product-title">
                                    <a href="shop-single.html">Chicken Shawarma</a>
                                </h4>
                                <div class="price">
                                    <span>$3.00</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- Single product -->
                    <!-- Single product -->
                    <li class="product wow fadeInUp" data-wow-delay="600ms">
                        <div class="product-contents">
                            <div class="product-image">
                                <a href="shop-single.html">
                                    <img src="assets/img/shop/4.png" alt="Product">
                                </a>
                                <div class="shop-action">
                                    <ul>
                                        <li class="cart">
                                            <a href="#"><span>Add to Cart</span></a>
                                        </li>
                                        <li class="quick-view">
                                            <a href="#"><span>Quick view</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-caption">
                                <div class="product-tags">
                                    <a href="#">Sandwich</a>
                                    <a href="#">Chicken</a>
                                </div>
                                <h4 class="product-title">
                                    <a href="shop-single.html">Submarine Sandwich</a>
                                </h4>
                                <div class="price">
                                    <span>$6.00</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- Single product -->

                </ul>
            </div>
        </div>
    </div>
</div>